h1, h2, h3 {
    font-family: 'Alegreya SC', serif;
    text-align: center;
    margin-bottom: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    background-color: #313131;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    min-width: 350px;
}

img {
    max-width:100%;
    max-height:100%;
}


/*Fade animation*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


/* wrappers */
.sitewide-wrapper {
    top: 0px;
    padding: 0px;
    max-width: 600px;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

/* buttons */
.button-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 15px 15px;
    width: 20%;
    max-width: 150px;
    min-width: 120px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#submit {
    background-color: #0098db;
    border: 1px solid #009bdd;
    color: #fff;

}

#refresh {
    background-color: #7d0022;
    border: 1px solid #4a1b22;
    color: #fff;
}


.filter {
    background-color: #313131;
    color: #fff;
    border: 1px solid #343431;
    margin-left: 10%;
    margin-right: 10%;
}

.active {
    background-color: #0098db;
    color: #fff;
    border: 1px solid #009bdd;
    margin-left: 10%;
    margin-right: 10%;
}

.recruiting-wrapper {
    width: 92%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    padding: 4%;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.section-header {
    align-items: stretch;
    width: 100%;
}

/*Ops Tags*/
.ops-class-tags, .ops-position-tags, .ops-qualification-tags {
    width: 35%;
    min-width: 120px;
    margin: 1% 1%;
    height: 35px;
    display: inline-flex;
    align-items : center;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
}

.ops-tags-wrapper {
    display: inline-flex;
    align-items : center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
}

.ops-tags {
    width: 22%;
    min-width: 75px;
    margin: 0.5%;
    height: 35px;
    display: inline-flex;
    align-items : center;
    justify-content: center;
    align-content: center;
    font-size: 0.6em;
}

/*Results field*/
#content-results {
    padding: 10px;
    background-color: #fff;
    display: inline-flex;
    align-items : center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 0.7em;
}

.content-results-section-header {
    align-items: stretch;
    width: 100%;
    font-size: 1.17em;
    margin-top: 0.3em;
}


.content-results-operator {
    display: inline-block;
    width: 20%;
    max-width: 100px;
    margin: 0.5%;
    padding: 5px;
}

.content-results-operator-img {
    width: 100%;
}

.content-results-operator-name {
    text-align: right;
    font-size: 0.8em;
}