h1, h2, h3 {
    font-family: 'Alegreya SC', serif;
    text-align: center;
    margin-bottom: 5px;
    margin-block-start: 0em;
    margin-block-end: 0.4em;
}

body {
    background-color: #000;
}

img {
    max-width:100%;
    max-height:100%;
}

/* wrappers */
.sitewide-wrapper {
    top: 0px;
    padding: 0px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
}

.button-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* buttons */
#submit {

}

#refresh {
    background-color: #B22222;
}

.button {
    background-color: #000; /* Green */
    border: none;
    color: #fff;
    padding: 15px 15px;
    width: 25%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.filter {
    height: 100%;
    background-color: #fff;
    color: #000;
    border: 1px solid #999999;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.active {
    height: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid #76d6ff;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
    padding: 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    font-family: 'Marcellus SC', serif;
    font-size: 0.8em;
    border: 0px solid #999999;
    display: table-cell;
    height: 30px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.divTableCell-qualifications {
    font-family: 'Marcellus SC', serif;
    font-size: 0.6em;
    border: 0px solid #999999;
    display: table-cell;
    height: 30px;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.divTableCell-tags {
    font-family: 'Marcellus SC', serif;
    font-size: 0.6em;
    border: 0px solid #999999;
    display: table-cell;
    height: 30px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

#content-results {
    padding: 10px;
    
}

.content-results-section-header {
    width: 100%;
    display: inline-block;
}

.content-results-section {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    padding: 4%;
    align-content: center;
    text-align: center;
}

.content-results-operator {
    display: inline-block;
    width: 27%;
    max-width: 150px;
    margin: 1%;
    padding: 5px;
}

.content-results-operator-img {
    width: 100%;
}

.content-results-operator-name {
    text-align: right;
}